.titles {
    font-size: 5vw;
    text-align: center;
    color: aliceblue;
    background-color: black;
}

.short_texts {
    font-size: 2vw;
    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.project {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
}

.project_title {
    font-size: 2vw;
    font-weight: bold;
}

.project_description {
    font-size: 1vw;
}