mt {
    font-size: 72px;
    text-align: center;
    color: aliceblue;
    background-color: black;
}

p1 {
    text-align: center;
    font-size: x-large;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}