mt {
    font-size: x-large;
    align-content: center;
    color: aliceblue;
    background-color: black;
}

p1 {
    align-content: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}