mt {
    font-size: 10vw;
    text-align: center;
    color: aliceblue;
    background-color: black;
}

p1 {
    text-align: center;
    font-size: 5vw;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}